# Dependencies
node_modules

# Build output
dist
build

# Git
.git
.gitignore

# Env files (never include secrets)
.env
.env.*

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# OS / Editor files
.DS_Store
.vscode
.idea